/* border-none 去掉border */
/* border-line */
.el-card {
	&.border-none {
		border:none;
		.el-card__header {
			border:none;
		}
	}
	&.border-line {
		.el-card__header {
			border-left: 6px solid $--color-primary;
		}
		
		@each $name, $color in (
			primary:$--color-primary,
			success:$--color-success,
			info:$--color-info,
			danger:$--color-danger,
			warning:$--color-warning
			) {
			&.border-line-#{$name} {
				.el-card__header {
					border-left-color: #{$color};
				}
			}
		}
	}
}