/* input-search input后面添加search图标 */
/* content-block content区域独立一行 */
/* content-tips */
/* el-form-item_col 将label和content垂直布局*/
/* .el-input,.el-input__inner,.el-select 宽度为100% */
.el-form {
	.el-form-item {
		&.content-block {
			.el-form-item__content {
				margin-left: 0 !important;
			}
		}
		&.is-error {
			.el-form-item__content {
				animation:headShake 1s ease-in-out;
			}
		}
		&.el-form-item_col {
			display: flex;
			flex-direction: column;
			.el-form-item__content {
				margin-left: 0 !important;
			}
		}
		.content-tips {
			font-size: 12px;
			color: $--color-text-placeholder;
			line-height: 16px;
			margin-top: 5px;
		}
	}
	/* .el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner {
		width: 100%;
	} */
	.el-cascader,.el-select ,.el-date-editor.el-input, .el-date-editor.el-input__inner{
		width: 100%;
	}
	.el-date-editor .el-range-separator {
		width: 20px;
	}
	.input-search {
		
		&.el-form-item--small {
			.el-input {
				width: 215px;
				.el-input__inner {
					padding-right: 0px;
				}
				.el-input-group__append {
					background-color: transparent;
					padding: 0 10px;
				}
			}
		}
	}
	
	.el-select__tags {
		.el-tag {
			@extend %tag-normal;
		}
	}
	
}


@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}
