/* el-scrollbar.page-component__scroll隐藏组件横向滚动条 */
.el-scrollbar {
	height: 100%;
	width: 100%;
	&.page-component__scroll {
		& > .el-scrollbar__wrap {
			overflow-x: hidden;
			.el-scrollbar__view {
			}
		}
	}
}
