/* 混入 */
/* 
//使用
.elli-line{
	@include elli-line(2);
}
 */

/* 省略号 */
@mixin elli-line ($num:2) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $num;
	overflow: hidden;
}

@mixin ellipsis () {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin table-color ($color:$--border-color-base) {
	th.el-table__cell.is-leaf,
	td.el-table__cell {
		border-bottom: 1px solid $color;
	}
	&.el-table--border {
		border-top: 1px solid $color;
		border-left: 1px solid $color;
		.el-table__cell {
			border-right: 1px solid $color;
		}
		&::after {
			background-color: $color;
		}
	}
	&::before {
		background-color: $color;
	}
}

/* 媒体查询 从小到大*/
/* 
.style {
	width: 100%;
	@include sm {
		width: 100%;
	}
	@include md {
		width: 50%;
	}
	@include lg {
		width: 25%;
	}
	@include xl {
		width: 20%;
	}
}
 */
@mixin sm {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin md {
	@media screen and (min-width: 992px) {
		@content;
	}
}

@mixin lg {
	@media screen and (min-width: 1200px){
		@content;
	}
}

@mixin xl {
	@media screen and (min-width: 1920px) {
		@content;
	}
}