@red: #DB0000;
@blue: #008DE3;
@orange: #F7B740;
@green: #00A04F;

@dialog-border-radius:4px;
@dialog-message-font-size: 18px;
@dialog-confirm-button-text-color:@blue;
@dialog-message-line-height:24px;

@border-radius-sm: 4px;
