.lists-card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 10px;
	.list-card {
		width: 380px;
		margin: 20px 10px;
		@include sm {
			width: calc(100% - 20px);
		}
		@include md {
			width: calc(50% - 20px);
		}
		@include lg {
			width: calc(33.333333% - 20px);
		}
		@include xl {
			width: calc(25% - 20px);
		}
		.el-card__header {
			line-height: 28px;
		}
		$-list-body-height:150px;
		$-list-footer-height:40px;
		.el-card__body {
			height: $-list-body-height + $-list-footer-height;
		}
		.list-body {
			height: $-list-body-height;
			line-height: 24px;
			color: $--color-text-regular;
			padding: 0 20px;
			overflow: hidden;
		}
		.list-footer {
			width: 100%;
			height: $-list-footer-height;
			display: flex;
			align-items: center;
			border-top: 1px solid $--card-border-color;
			p {
				height: $-list-footer-height;
				line-height: $-list-footer-height;
				width: 50%;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}
