.ty-toast-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.ty-toast {
  // min-width: 300px;
  max-width: 600px;
  min-height: 112px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999;
  padding:20px 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  
}
.ty-toast-center {
	.ty-toast-message {
		width: 100%;
		text-align: center;
	}
}
[class*='ty-toast-type-'] {
	&:before {
	  content: "";
	  min-width: 32px;
	  min-height: 32px;
	  display: block;
	  background-repeat: no-repeat;
	  background-size: 100% 100%;
	  float: left;
	}
	.ty-toast-message {
	  float: left;
	  font-weight: normal;
	  // font-size: 18px;
	  white-space: nowrap;
	  padding-left: 10px;
	  color: #555555;
		line-height: 24px;
		// font-size: 16px;
	}
}
.ty-toast-type-info {
  &:before {
    background-image: url(./assets/icon-info.png);
  }
}
.ty-toast-type-success {
  &:before {
    background-image: url(./assets/icon-success.png);
  }
}
.ty-toast-type-error {
  &:before {
    background-image: url(./assets/icon-error.png);
  }
}
.ty-toast-type-warning {
  &:before {
    background-image: url(./assets/icon-warning.png);
  }
}
.ty-toast-type-wait {
  &:before {
    background: #fff;
    border-radius: 32px;
    border: 2px solid #409eff;
    border-right: 2px solid transparent;
    animation: ty-toast-spinner 1000ms linear infinite both;
  }
}
.ty-toast-type-load {
  min-width: 100px;
  width: 100px;
  min-height: 100px;
  height: 100px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: none;
  display: block;
  padding: 0;
  &:before {
    float: none;
    width: 40px;
    height: 40px;
    margin: 15px auto;
    background-image: url(./assets/loading.png);
    background-size: 100% 100%;
    display: block;
    animation: ty-toast-spinner 1000ms linear infinite both;
  }
  .ty-toast-message{
    float: none;
    color: #fff;
    display: block;
    // font-size: 14px;
    text-align: center;
  }
}

.ty-toast-enter {
  animation: ty-toast-fade-in 300ms both;
}
.ty-toast-leave {
  animation: ty-toast-fade-out 300ms both;
}

@keyframes ty-toast-fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ty-toast-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes ty-toast-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
